<%= render "/layouts/landing_nav"%>

<h1 class="center">List of Articles</h1>

<!--Display error messages -->

<%= render 'layouts/messages' %>

<%= render 'article', obj: @articles %>	

<%= render 'footer' %>
