<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Landing Page</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="font-awesome-animation.min.css">
	</head>
	<body>
		<header class="home">
			<div clsss="landing-title">
				<h2>Kenneth Bradley</h2>
				<h1>FULL STACK WEB DEVELOPER</h1>
				<h5>Creating elegent and responsive web designs</h5>	
			</div>
			<div class="down-arrow bounce">
				<i class="fa fa-arrow-circle-down fa-2x"></i>
			</div>
		</header>
		<section class="mid">
			<h1>Under Construction</h1>
		</section>
		<section class="clearfix"></section>
		<footer>
			<p>Copyright &copy; Ruby on Rails Developers Course</p>
			<%= link_to "About", about_path %>
		</footer>
		
	</body>
	
</html>